services:
  backend:
    build:
      context: .
      dockerfile: dockerfile
    container_name: pos-backend
    env_file:
      - .env
    ports:
      - "${APP_PORT:-8080}:8080"
    networks:
      - pos-network
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M

  frontend:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: pos-frontend
    env_file:
      - web/.env
    ports:
      - "3000:80"
    networks:
      - pos-network
    restart: always

networks:
  pos-network:
    driver: bridge
