services:
  backend:
    build:
      context: .
      dockerfile: dockerfile
    container_name: pos-backend-prod
    env_file:
      - .env.prod
    ports:
      - "${APP_PORT:-8080}:8080"
    networks:
      - pos-network
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M

networks:
  pos-network:
    driver: bridge
